/node_modules
/public/build
/public/hot
/storage/*.key
/vendor
.env
.phpunit.cache
.phpunit.result.cache
Homestead.json
Homestead.yaml
/.idea
/.vscode
/.fleet
.phpstorm.meta.php
/.phpunit.result.cache
/storage/framework/cache/data/*
/storage/logs/*.log
/storage/app/public/*
.DS_Store
npm-debug.log
yarn-error.log
